* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background: linear-gradient(#18122B, #635985);
    color: #ffffff;
    height: 80px;
    padding: 50px;
}