* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

/* --HEADER-- */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background: linear-gradient(#18122B, #635985);
    color: #ffffff;
    height: 80px;
    padding: 50px;
}

/* --MAIN-- */

.question-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-color: #393053;
    background-color: #E9E8E8;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    padding: 50px;
    margin: 80px;
}

.card-bookmark {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10%;
    right: 10%;
}

button {
    border: none;
    background-color: #635985;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0 8px 6px;
}

button:hover {
    background-color: #01e809;
    color: black;
}

button:active {
    opacity: 60%;
}

/* TAGS */

.categories-list {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.categories-list-item {
    padding: 10px;
    background-color: #393053;
    color: #ffffff;
    border-radius: 10px;
    font-size: 10px;
    margin: 5px;
}

/* --FOOTER-- */

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(#d0c3f7, #635985);
    color: #ffffff;
    height: 80px;
    /*
    display: flex;
    justify-content: space-around;
    align-items: center;
    */

}

.navigation-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer img {
    margin: 20px;
    width: 40px;
    height: 40px;
}

/* PROFILE PAGE */

.profile-top {
    display: flex;
    margin: 40px;
    padding: 30 px;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.profile-about {
    display: flex;
    flex-direction: column;
    margin: 60px;
    padding: 30 px;
    justify-content: space-around;
    align-items: left;
}

/* COUNTERS */

.counter-box {
    display: flex;
    margin: 60px;
    padding: 30 px;
    justify-content: space-around;
    align-items: center;
}

.counter-box ul {
    display: flex;
    margin: 6px;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    border-color: #393053;
    background-color: #E9E8E8;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    background-color: #f2f2f2;
    gap: 10px;
}

.counter-box p {
    margin: 12px;
}

.counter-box img {
    margin: 6px;
    width: 40px;
    height: 40px;
}

/* SETTINGS */

.settings-box {
    display: flex;
    margin: 60px;
    padding: 30 px;
    justify-content: space-around;
    align-items: center;
}

.settings-box ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.settings-box h2 {
    font-weight: normal;
}

.dark-mode {
    display: flex;
    align-items: center;
    gap: 30px;
}

.dark {
    background-color: black;
}